h2{
    color:rgb(10, 169, 31);
}

table{

    width: 60%;
}
table th, table td{
    border: 1px solid black;
    background-color: rgb(196, 155, 4);
}

table td{
    background-color: rgb(219, 248, 106);
}

.suspendidos{

    background-color: red;
}

.aprobados{
    background-color: green;
}
